@mixin showOnHover() {
    position: absolute;
    top: 4.25rem;
    overflow: hidden;
    height: 18.75rem;
    width: 15.625rem;
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s ease all;
    background-color: $white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1) !important;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;

  @media #{$tablet} {
    top: 6.953rem;
  }

  @media #{$mobile} {
    top: 6.953rem;
  }
}
