@import "./constants.scss";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body .modal-open {
    overflow: hidden;
    position: fixed;
}

.hidden {
    display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $display-font;
    font-weight: bold;
}

strong {
    font-weight: bold;
    font-size: inherit;
    font-family: inherit;
}

small {
    font-size: 14px;
}